@(title: String)(results: List[String])(previousExprs: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script type="text/javascript">
        window.onload = function() { 
            document.getElementById("evalBtn").onclick = function() {
                var encoded_sexprs     = encodeURIComponent(document.getElementById("sexprs").value);
                var encoded_previous   = encodeURIComponent(document.getElementById("previous").innerHTML);
                var queryParams        = "currentExprs=" + encoded_sexprs + "&" + "previousExprs=" + encoded_previous;
                console.log("encoded_sexprs:", encoded_sexprs);
                console.log("encoded_previous:", encoded_previous);
                document.location.href = "/evaluate?" + queryParams;
            };
            document.getElementById("clear").onclick = function() {
                document.getElementById("previous").innerHTML="";
            }

        };
        </script>        
    </head>
    <body>
		Enter SExpressions here: <input id="sexprs"/><br>
		Previous commands: <span id="previous">@previousExprs</span> <br>
		Results: @results <br>
        <button id="evalBtn">Evaluate</button>
        <button id="clear">Clear History</button>
    </body>
</html>
